<h1>Mensajes</h1>
<hr>

<div class="chat-memsajes">
    <li class="list-group-item" *ngFor="let item of mensajes">
        {{item.de}}: {{item.cuerpo}}
    </li>
</div>

<form (ngSubmit)="enviar()">
    <input [(ngModel)]="texto" type="text"  autofocus class="form-control chat-input"  name="texto" placeholder="Mensaje">
</form>