<div class="row justify-center-center">
    <div class="col-9">
        <form (ngSubmit)="ingresar()" class="p-4">
            <input type="text" name="nombre" [(ngModel)]="nombre" class="form-control">
            <button type="submit" class="btn btn-primary btn-block m-2">Ingresar</button>
        </form>
    </div>
</div>