<footer class="p-2 bg-dark">
    Server Status:
    <span *ngIf="socketService.socketStatus" class="text-success">Servidor Conectado</span>
    <span *ngIf="!socketService.socketStatus" class="text-danger">Desconectado</span>
</footer>
